

body * {
    display: flex;
    height: 100%;
}

main {
    background-color: #1F2937;
}

footer {
    background-color: #1F2937;
}

header  {
    background-color: #1F2937;
    
}

header > div {

    width: auto;
    margin: auto;
    justify-content: left;
}

header > ul {

    width: auto;
    margin: auto;
}

header > li {

    margin: auto;
}


h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9FAF8;
}



#quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    margin: 0px;
}

.linkn2ndtext {

    font-size: 18px;
    color: #E5E7EB;
}

#logo {

    font-size: 24px;
    color: #F9FAf8;
}



.verticalboxes {

    flex-direction: column;
}

.headerlinks li {

    border: 20px;
    margin: 20px;
}

.headerlinks img {


    border: 20px;
    margin: 20px;
}

#quote {

     margin: 100px 300px 0px 300px;
     align-items: center;
     
}

#author {
     
     margin: 0px 500px 100px 0px;
     align-items: end;
     
}

#quote_Section {

    flex-direction: column;
    align-items: end;
    background-color: #e5e7eb ;
}

#call_ToArms {

    margin: 100px;
   justify-content: center;
}

#calltobox {

    background-color: #3882F6;
    flex-direction: row;
    align-content: center;
    padding: 50px;
}

#call_button {

    margin:auto 50px;
}

.justified_Content {

    justify-content: center;
}

h2 {
    margin: auto;
}

#images_Text {

    justify-content: center;
}

.images_Text {
 font-size: 10px;
margin: auto;
 width: 100px;
text-align: center;
}



img {
    height: 100px;
    width: 100px;
    margin: 25px;
}

